<br><br><br><br><br><br>
<div class="panel">
<div class="heading">
<span class="icon mif-file-text"></span>
<span class="title">
<span class="class .header">Create New Store</span>
</span>
</div>
<div class="content">
<table style="width:100%">
<tr>
	<td>Merk Sepatu</td>
	<td>
            <div class="input-control text full-size">
            <input type="text" name="merk" ng-model="model.merk" >
            </div>
	</td>       
</tr>
<tr>
        <td>Warna</td>
	<td>
            <div class="input-control text full-size">
            <input type="text" name="warna" ng-model="model.warna" >
            </div>
	</td>
</tr>
<tr>
	<td>Ukuran</td>
	<td>
            <div class="input-control text full-size">
            <input type="text" name="ukuran" ng-model="model.ukuran" >
            </div>
	</td>
</tr>
<tr>
	<td>Jenis</td>
	<td>
            <div class="input-control text full-size">
            <input type="text" name="jenis" ng-model="model.jenis" >
            </div>
	</td>
</tr>
<tr>
	<td></td>
	<td>
            <button class="button primary" type="submit" 
                    ng-click="simpan(model)">Submit</button>
	</td>
</tr>
</table>
</div>
</div>
<br><br><br>
        <div class="panel">
	<div class="heading">
		<span class="icon mif-loop2" ng-click="tampilkanData()" 
                      style="cursor: pointer;"></span>
		<span class="title">List Storeshoes</span>
	</div>
	<div class="content">
            <table style="width: 100%;" class="table">
			<thead>
				
                                <th style="text-align: center;">Merk Sepatu</th>
                                <th style="text-align: center;">Warna</th>
				<th style="text-align: center;">Ukuran</th>
                                <th style="text-align: center;">Jenis</th>
                                <th colspan="2" style="text-align: center;">Action</th>
					
            </thead><br><br>
			<tbody>
				<tr ng-repeat="storeshoes in data">
                                <td style="text-align: center;">{{storeshoes.merk}}</td>
                                <td style="text-align: center;">{{storeshoes.warna}}</td>
                                <td style="text-align: center;">{{storeshoes.ukuran}}</td>
                                <td style="text-align: center;">{{storeshoes.jenis}}</td>
                                <td style="text-align: center;"><button class="button primary"  
                                                                        type="submit" 
                                  ng-click="hapusData(storeshoes.id)">
                                            <span class="icon mif-cancel"></span></button>
                                    <button class="button primary"  type="submit" 
                                            ng-click="editData(storeshoes)">
                                        <span class="icon mif-pencil">
                                                
                                        </span></button></td>
                                </tr>
			</tbody>	
		</table>	
	</div>
        </div>
        <br><br>

